/* Doctop styles */

.DockTop {
    position: relative;
    top: 5px;
    left: 50%;
    translate: -50% 0;
    width: 98%;
    height: 45px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgb(255, 252, 238);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.100);
}

.DockTop:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-name: dockTopHover;
    animation-duration: 0.5s;
    animation-fill-mode: both;

}

.AppLogoDockTop {
    position: absolute;
    top: 10%;
    left: 10px;
    width: 35px;
    height: 35px;
    background-color: white;
    border: none;
    border-radius: 10px;
}

.AppLogoDockTop:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.AppTitle {
    position: fixed;
    top: 5%;
    align-items: center;
    text-align: center;
    left: 55px;
    font-size: 17px;
    height: 100%;
    font-weight: bold;
    font-family: Arial;
    color: #333;
}

.NewNoteButtonSearchDockTop {
    position: absolute;
    top: 13%;
    height: 75%;
    width: 120px;
    text-align: left;
    left: 150px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.CreateNoteButton {
    position: absolute;
    top: 13%;
    height: 75%;
    width: 35px;
    text-align: center;
    left: 280px;
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.CreateNoteButton:hover {
    scale: 1.05;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.MoreOptionMenuButton {
    position: absolute;
    top: 13%;
    height: 75%;
    width: 35px;
    text-align: center;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: all 0.3s ease-out;
}

.MoreOptionMenuButton:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.MoreOptionIconButton:hover {
    scale: 1.2;
}

.MoreOptionIconButton {
    position: absolute;
    background-size: cover;
    top: 15%;
    height: 70%;
    width: 70%;
    left: 15%;
}