.MoreOptionWindow {
    display: grid;
    overflow-x: hidden;
    overflow-y: scroll;
    grid-template-columns: 250px;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
    row-gap: 10px;
    position: absolute;
    top: 70px;
    right: 20px;
    translate: 0%;
    width: 300px;
    height: 300px;
    background-color: rgba(255, 252, 238, 1);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.MoreOptionWindowProfileBar {
    margin-top: 20px;
    width: 260px;
    height: 130px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.ProfileIcon {
    position: absolute;
    top: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.ProfileWindowTitleText {
    position: absolute;
    top: 30px;
    right: 50px;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial;
}

.MoreOptionProfileOpen {
    position: absolute;
    bottom: 160px;
    width: 238px;
    height: 40px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-weight: bold;
    font-family: Arial;
    font-size: 15px;
}   

.Option1MoreOptionWindow, .Option2MoreOptionWindow, .Option3MoreOptionWindow, .Option4MoreOptionWindow {
    top: 20px;
    left: 20px;
    width: 260px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    padding-left: 10px;
}
